:root {
  font-family: "Arimo", system-ui;
  font-weight: 400;
  --background: #ffffff;
  --background-alt: #e3efff;
  --background-accent: #9bcbf8;
  --foreground: #051d40;
  --foreground-alt-1: #145da0;
  --foreground-alt-2: #b1d4e0;
}

*:disabled {
  cursor: not-allowed;
}

html {
  height: 100vh !important;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  height: 100%;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body > * {
  width: 100%;
  flex: 0 0 auto;
}

hr {
  border: 1px solid var(--foreground);
}

article {
  flex: 1 1 auto;
  min-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Contrail One";
  font-weight: normal;
}

h1 {
  font-size: x-large;
  margin: 0;
  align-self: center;
}

noscript {
  background-color: red;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  height: 55px;
}

header nav {
  max-height: min-content;
  align-self: center;
}

output {
  word-wrap: anywhere;
  box-sizing: border-box;
  padding: 1ch;
  font-family: monospace;
  background-color: var(--foreground);
  color: var(--background);
  resize: vertical;
  overflow: scroll;
  width: 100%;
  display: block;
  min-height: 8ch;
  max-height: 16ch;
}

output:empty:before {
  content: "Console BrébeufHx";
  color: var(--foreground-alt-1);
}

article {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  flex-grow: 1;
  gap: 8px;
}

textarea,
div#codemirror-wrapper {
  resize: inline;
  width: 77%;
  flex-shrink: 0;
  min-width: 111px;
  max-width: calc(100vw - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 22px;
}

div#game-wrapper {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

div#game-wrapper aside > *:not(progress, select) {
  display: inline;
}

hr#inline-hr {
  margin-inline: 11px;
}

div#game {
  height: 100%;
  overflow-y: scroll;
}

div#code-controls {
  position: sticky;
  top: 0px;
  background-color: var(--background);
}

p#question-text {
  background-color: var(--background-alt);
  padding: 4px;
  border: 2px dotted var(--foreground-alt-1);
}

input[type="button"],
input[type="submit"],
button {
  background-color: var(--background-alt);
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 4px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: var(--background-accent);
}

progress {
  width: 100%;
  accent-color: var(--foreground-alt-1);
}

nav select {
  width: 100%;
  box-sizing: border-box;
}

section#documentation {
  min-height: 22px;
}

.CodeMirror {
  height: auto !important;
}

dialog {
  z-index: 3333;
  max-width: 444px;
  border: 2px solid var(--foreground);
  box-shadow: 7px 7px 88px 1px var(--foreground);
}
