:root {
  font-family: "Arimo", system-ui;
  font-weight: 400;
  /* -- */
}

html {
  height: 100vh !important;
}

body {
  height: 100%;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body > * {
  width: 100%;
  flex: 0 0 auto;
}

article {
  flex: 1 1 auto;
  min-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Contrail One";
  font-weight: normal;
}

h1 {
  font-size: x-large;
  margin: 0;
  align-self: center;
}

noscript {
  background-color: red;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  height: 55px;
}

header nav {
  max-height: min-content;
  align-self: center;
}

canvas {
  background-color: black;
  image-rendering: pixelated;
  width: 100%;
}

output {
  box-sizing: border-box;
  padding: 1ch;
  background-color: black;
  color: white;
  resize: vertical;
  /* overflow-y: scroll; */
  width: 100%;
  display: block;
}

article {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  flex-grow: 1;
  gap: 8px;
}

textarea,
div#codemirror-wrapper {
  resize: inline;
  width: 77%;
  flex-shrink: 0;
  min-width: 111px;
  max-width: calc(100vw - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 22px;
}

div#game-wrapper {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

div#game-wrapper aside > *:not(progress) {
  display: inline;
  margin-inline: 8px;
}

div#game {
  height: 100%;
  overflow-y: scroll;
}

form {
  position: sticky;
  top: 0px;
  background-color: blue;
}

input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: 1px solid CanvasText;
  border-radius: 8px;
}

input[type="submit"] {
}

progress {
  width: 100%;
}

section#documentation {
  min-height: 22px;
}
